{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "import/extensions": ["error", "never"],
    "no-underscore-dangle": "off",
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-useless-constructor": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_" }],
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}
